<div class="logoFondo">
  <img src="assets/logo-gif.gif" class="logo img-fluid" alt="Logo Animado">
</div>
<div class="container-fluid imgFondo vh-100" style="height: 100%; overflow: auto; min-height: 100%;">
  <!-- <div class="logo-container">
    <img src="assets/logo-gif.gif" class="logo img-fluid" alt="Logo Animado">
  </div> -->
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="margin-top: 15%;">

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card" style="background-color: rgb(141 211 187); color: white; padding: 20px; text-align: justify; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    Dirección General de Defensa y Protección al Consumidor - El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326. La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
  </div>
  <div class="card" style="background-color: rgb(141 211 187); color: white; padding: 20px; text-align: justify; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
    Ley 24.240 <br>
    Autoridad Nacional de aplicación <br>
    Defensa de las y los Consumidores. Para reclamos ingrese <a href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/formulario" target="_blank" style="color: white; font-weight: bold;">aqui</a>. <br>
  </div>
</div>
