/* You can add global styles to this file, and also import other style files */
.imgFondo {
  background: transparent url('./assets/fondo.png') 0% 0% no-repeat padding-box;
  background-size: cover;
  padding-bottom: 160%;
}
